# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#trash
*.cmake
*.vcxproj
*.vcxproj.filters
/x64/
/Poshelnahuy.ware.dir/
/DLL_RESOURCES.dir/
/CMakeFiles
/Release
/CMakeCache.txt
