# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*.cmake
$GIT_DIR/CMakeCache.txt
$GIT_DIR/ALL_BUILD.vcxproj
$GIT_DIR/ALL_BUILD.vcxproj.filters
$GIT_DIR/DLL_RESOURCES.vcxproj
$GIT_DIR/DLL_RESOURCES.vcxproj.filters

$GIT_DIR/ZERO_CHECK.vcxproj
$GIT_DIR/ZERO_CHECK.vcxproj.filters

$GIT_DIR/x64
$GIT_DIR/Poshelnahuy.ware.dir
$GIT_DIR/DLL_RESOURCES.dir/CMakeFiles
