# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*.cmake
/CMakeCache.txt
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/DLL_RESOURCES.vcxproj
/DLL_RESOURCES.vcxproj.filters

/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters

/x64/
/Poshelnahuy.ware.dir/
/DLL_RESOURCES.dir/
/CMakeFiles
/Release
